body{ 
background-image:url("https://image.freepik.com/free-photo/texture-background_1404-99.jpg");
}

h1{
    color: aliceblue;
    text-align: center;
    font-family: 'Bungee Inline', cursive;

    font-size: 60px;
    width:100% ;
}
p{
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 40px

}
footer{ 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: inheritrem;
       background:rgba(49, 49, 49, 0.66);
     }
h4{
    text-align: center;
}
