body{
    background-image:url("https://image.freepik.com/free-photo/texture-background_1404-99.jpg");
  

}
img{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    height: 400px;
    margin: 2px;
   margin-left: 10%;
    
}
h1 {
    color: #183832;
    background:#e0d0c0;
    font-family: 'Handlee', cursive;
    width:60% ;
    font-size: 20px;
}

p{
 color:#0a4137;
 background:burlywood;
 padding: 10px;
  box-shadow: 20px -19px black;
  font-family: 'Spicy Rice', cursive;
  width:60% ;
}
footer{ 
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: inheritrem;
    background:rgba(49, 49, 49, 0.66);
     }
h4{
    text-align: center;
}
aside {
    float: right;
    width: 33%;
    height:100% ;
   
  }
#Mun{
    padding-right: 20px;
}